
#banner {
    text-align: center;
    width: 70%;
    background-color: #1FABEB;
    margin: auto;
    margin-bottom: 6em;
    padding: 2em;
    
    
    
}


#emailSection {

   text-align: center;
   width: 70%;
   background-color: #575757; 
   padding: 2em;
   margin: auto;
   margin-bottom: 4em;
}

.container {	
	width: 80%;
	margin: 0 auto; 
}


footer {
    float: left;
    text-align: center;
    width: 100%;
    background-color: #575757;
}
